:root {
  color-scheme: only light;
  --color_principal: #4a90e2;
  --color_secundario: #f5f5f5;
  --color_contraste: #add8e6;
  --color_letra: #202020;
  --color-letra-blanco: whitesmoke;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav,
footer {
  background-color: var(--color_principal);
  color: var(--color-letra-blanco);
  font-family: Arial, Helvetica, sans-serif !important;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
